/* THIS IS A RESET FOR SELECT ELEMENTS */
ul, menu, dir {
  display: block;
  list-style-type: none;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
}
/* END OF RESET ELEMENTS*/

body{
    background: url('../img/bg_ocean.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    margin: 0;
}

#wrapping_body{
    background-color: whitesmoke;
    opacity: 0.8;
    width: 70%;
    float: right;
}
#nav-head_wrap{
    background-color: #262626;
    width: 200px;
    height: 100%;
    position: fixed;
}

.nav_list{
    list-style-type: none;
}
.nav_link{
    color: white;
    text-decoration: none;
}
.title_wrap{
    color: #FF3B3B;
    font-family: pristina;
    font-size: 2em;
    margin-left: 9px;
}

#nav_link{
    font-family: 'quicksand';
}


